# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database (local dev only)
*.sqlite3

# Django stuff
*.log
/media
/staticfiles

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
